<div class="app-panel-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9">
        <h2 class="panel-title">Control Panel</h2>
        <p class="panel-subtitle">Manage all operations from a single location</p>
        <div class="cards-container">

          <mat-card class="panel-card" routerLink="quotes">
            <div class="card-icon-wrapper">
              <mat-icon class="material-icons card-icon">assignment</mat-icon>
            </div>
            <mat-card-title class="card-title">Quotes</mat-card-title>
            <mat-card-content>
              <p class="card-description">Create and manage customized quotes for your clients</p>
            </mat-card-content>
            <span class="card-badge">New</span>
          </mat-card>

          <mat-card class="panel-card" routerLink="carriers">
            <div class="card-icon-wrapper">
              <mat-icon class="material-icons card-icon">local_shipping</mat-icon>
            </div>
            <mat-card-title class="card-title">Carriers</mat-card-title>
            <mat-card-content>
              <p class="card-description">Manage carriers and services</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="panel-card" routerLink="settings">
            <div class="card-icon-wrapper">
              <mat-icon class="material-icons card-icon">settings</mat-icon>
            </div>
            <mat-card-title class="card-title">Configuration</mat-card-title>
            <mat-card-content>
              <p class="card-description">Customize system preferences and settings</p>
            </mat-card-content>
          </mat-card>
          <!--
          <div class="panel-card" role="button" tabindex="0">
              <div class="card-icon-wrapper">
                  <i class="material-icons card-icon">assignment</i>
              </div>
              <h3 class="card-title">Quotes</h3>
              <p class="card-description">Create and manage customized quotes for your clients</p>
              <span class="card-badge">New</span>
          </div>

          <div class="panel-card" role="button" tabindex="0" routerLink="quotes">
              <div class="card-icon-wrapper">
                  <i class="material-icons card-icon">local_shipping</i>
              </div>
              <h3 class="card-title">Carriers</h3>
              <p class="card-description">Manage carriers and services</p>
          </div>

          <div class="panel-card" role="button" tabindex="0">
              <div class="card-icon-wrapper">
                  <i class="material-icons card-icon">settings</i>
              </div>
              <h3 class="card-title">Configuration</h3>
              <p class="card-description">Customize system preferences and settings</p>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
